
<h1>Edit Calculation</h1>

<%= form_for [@house.user, @house] do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>

<p><b><strong>Total Monthly Payment:</strong><span id="outMonthly"></span></b></p>
  <%= f.label :taxes, "Annual Property Taxes" %>
  <%= f.text_field :taxes %>

  <%= f.submit "Save" %>
<% end %>
