
<%= form_for [@user, @house] do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
  <button id="btnCalculate" type="button" class="btn btn-default">Calculate Payments</button>
</br>
<p><b><strong>Total Monthly Payment:</strong><span id="outMonthly"></span></b></p>
  <%= f.label :taxes, "Annual Property Taxes" %>
  <%= f.text_field :taxes %>

  <%= f.submit "Save" %>
<% end %>
